:root {
    font-family: "TWK Lausanne", "Helvetica Neue", "Helvetica", sans-serif;

    /* Layout */
    --container-max: 1200px;
    --radius: 12px;

    /* Spacing (4-step scale) */
    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;

    /* Typography */
    --fs-xs: clamp(0.86rem, 1.1vw, 1rem);
    --fs-sm: clamp(1rem, 1.4vw, 1.125rem);
    --fs-base: clamp(1.25rem, 2.5vw, 1.25rem);
    --fs-lg: clamp(1.5rem, 3.5vw, 2.25rem);
    --fs-xl: clamp(2rem, 6.5vw, 3.5rem);
    --fs-xxl: clamp(2rem, 7vw, 5.25rem);

    --main-color: #690031;
    --accent-color: #ffeaec;
    --secondary-color: #cbefff;
    --secondary-accent-color: #222875;
    --primary-font-color: #0d0d0d;
    --white-color: #ffffff;
    --grey-color: #696969;
    outline: none;
    --header-h: clamp(3.5rem, 4vw, 4rem);

    --card-radius: 16px;
    --card-bg: #f7f7f7;
    --shadow-soft: 0 10px 25px rgba(0, 0, 0, 0.12);

}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    display: grid;
    grid-template-rows: auto auto auto;
}

/* navbar styles here */
header {
    position: sticky;
    top: 0;
    background-color: var(--white-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    z-index: 1000;

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: clamp(8rem, 15vw, 10rem) 1fr;
}

.navbar {
    color: #6e6e6e;
    min-height: clamp(3.5rem, 6vh, 5rem);
    padding-inline: clamp(1rem, 2vw, 2rem);
    display: flex;
    justify-content: space-between;

}

.navbar a:hover {
    color: var(--primary-font-color);

}

.logo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: inherit;
}

.logo img {
    height: clamp(1rem, 2vh, 2.5rem);
    object-fit: contain;
}

#nav-button {
    background-color: var(--primary-font-color);
    color: var(--white-color);
    font-size: var(--fs-xs);
    font-weight: 600;
    padding: clamp(0.75rem, 1.5vh, 1rem) clamp(1.1rem, 2vw, 1.25rem);
    display: inline-block;
    margin-inline: clamp(0.5rem, 2vw, 1rem);
    position: relative;
    z-index: inherit;
}

#nav-button:hover {
    opacity: 0.75;
    transition: opacity 50ms ease-in;
}

.link-wrapper {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 1vw, 1rem);
}

.links {
    display: block;
    text-decoration: none;
    font-size: var(--fs-xm);
    font-weight: 500;
    color: #696969;
    padding-inline: clamp(0.25rem, 1vw, .5rem);
    min-width: max-content;
}

.button {
    display: block;
    border: none;
    padding-inline: clamp(2rem, 2.5vw, 2.8rem);
    padding-block: clamp(1rem, 1.25vw, 1.4rem);
    border-radius: 100px;
    font-weight: 700;
}

.hamburger {
    display: none;
    margin-inline: clamp(0.25rem, 1vw, 0.75rem);
}

#to-hide {
    display: flex;
    gap: clamp(0.5rem, 1vw, 1rem);

}

#bottom-menu {
    display: none;
}



@media (max-width: 910px) {

    .navbar {
        justify-content: flex-end;
    }

    .hamburger {
        display: flex;
        position: relative;
        z-index: 1002;
    }

    #respMenu {
        position: fixed;
        top: -100vh;
        left: 0;
        display: flex;
        flex-flow: column;
        gap: 0;
        align-items: flex-start;
        height: calc(100vh - var(--header-h));
        width: 100%;
        z-index: -1;
        background-color: var(--white-color);
        transition: top 300ms ease, opacity 1000ms ease;
        pointer-events: none;
        opacity: 0;
    }

    #respMenu.open {
        top: var(--header-h, clamp(3.5rem, 4vw, 4rem));
        pointer-events: auto;
        opacity: 1;

    }

    #menuToggle {
        position: relative;
        z-index: 1003;
        pointer-events: auto;
        cursor: pointer;
        touch-action: manipulation;
    }

    #menuToggleBtn {
        all: unset;
        /* remove default button styles */
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        pointer-events: auto;
        touch-action: manipulation;
    }



    /* for 3 bottoms option link in mobile view  */
    #bottom-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 1rem;
        margin-top: auto;
        width: 100%;
        background-color: antiquewhite;



    }

    .bottom-links {
        display: block;
        text-decoration: none;
        padding-block: clamp(.5rem, 1vw, 1rem);

        color: var(--grey-color);
        font-size: var(--fs-xs);


    }

    /* for 3 bottoms option link in mobile view {code above} */
    #respMenu .links {
        width: 100%;
        position: relative;
        color: var(--primary-font-color);
        padding-block: clamp(1.5rem, 2vw, 2rem);
        padding-inline: clamp(1.25rem, 2vw, 2rem);
    }

    #resp-menu .links::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        background-color: #69696976;
        height: 1px;

    }

    header::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        background-color: #69696976;
        height: 1px;

    }

    #to-hide .links {
        color: var(--grey-color);
    }


}

@media (max-width: 572px) {
    #to-hide {
        display: none;
    }

    header::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        background-color: #69696976;
        height: 1px;

    }
}


/* hero section 1 starts here */
section {
    padding-inline: clamp(1.25rem, 2vw, 3rem);
    padding-block: clamp(1rem, 6vw, 1.5rem);
    margin-block-end: clamp(2rem, 5vw, 3rem);
}

.hero_section {
    background-color: var(--main-color);
    color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(1rem, 4vw, 2rem);

}

.hero_section h1 {
    padding: clamp(1rem, 2.5vw, 2rem);
    font-weight: 700;
    font-size: var(--fs-xxl);
    text-align: center;

}



.hero_section p {
    font-size: var(--fs-base);
    font-weight: 500;
    padding-inline: clamp(1rem, 2.5vw, 2rem);
    padding-block-end: clamp(.5rem, 1.5vw, 1.5rem);
    text-align: center;
}

.hero_buttons {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.hero_buttons button {
    margin: clamp(0.45rem, 0.5vw, 1rem);
    background-color: var(--accent-color);
    padding-block: clamp(0.8rem, 2vw, 1rem);
    color: var(--main-color);
    font-size: var(--fs-sm);
    font-weight: 500;
}

#view_demo {
    color: var(--accent-color);
    background: var(--main-color);
    border: 2px #ffeaec7f solid;
}

#view_demo:hover {
    background: #820a42;
    transition: background 50ms ease-in;
}

#get_started:hover {
    opacity: 0.75;
    transition: opacity 50ms ease-in;

}

.hero_img_wrap {
    padding-inline: clamp(1rem, 2.5vw, 2rem);
    padding-block: clamp(1rem, 2.5vw, 2rem);


}

.hero_img {
    width: 100%;
    height: auto;
}

@media (min-width: 769px) {
    .hero_buttons {
        width: unset;
        flex-direction: row;
    }

    .hero_buttons button {
        font-size: var(--fs-base);
    }
}

.responsive-break::before {
    content: "\A";
    white-space: pre;
}

@media (min-width: 1075px) {
    .responsive-break::before {
        content: "";
    }
}



/* section 2(companies) */
.company-section {
    padding: 0;
}

.h4_wrap {
    display: flex;
    max-width: 60%;
    justify-content: space-around;
}

h4 {
    font-weight: 600;
    font-size: var(--fs-lg);
    padding-inline: clamp(1rem, 5vw, 2rem);
    line-height: 1.2;
}

.company_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    animation: spin 8s infinite linear;
    padding-inline-start: 1rem;
}

.carousel {
    display: flex;
    overflow-x: auto;
    justify-content: center;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.company {
    max-height: clamp(5rem, 7vw, 8rem);
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: clamp(8rem, 5vw, 10rem);
}

@keyframes spin {
    from {
        translate: 0
    }

    to {
        translate: -100%;
    }
}

@media (min-width: 769px) {
    #wrap-hidden {
        display: none;
    }

    .company_wrap {
        animation: none;
    }

    .h4_wrap {
        max-width: 60%;
    }

}

@media (min-width: 1120px) {
    .company-section {
        display: flex;
        justify-content: flex-start;
    }

    .h4_wrap {
        max-width: 35%;
    }

    .h4_wrap h4 {
        font-size: 2rem;
    }

}




/* section 3 here  */
.productivity {
    background-color: var(--accent-color);
    padding-inline: 0;
    padding-block-end: clamp(3rem, 7.5vw, 8rem);
    color: var(--main-color)
}

.productivity h1 {
    font-size: var(--fs-xl);
    font-weight: 700;
    padding-inline: clamp(1.25rem, 2.5vw, 2rem);
    padding-block: clamp(1.25rem, 2.5vw, 1rem);
}

.productivity>p {
    font-size: var(--fs-base);
    padding-inline: clamp(1.25rem, 2.5vw, 2rem);
    line-height: 1.4;
    font-weight: 400;

}

.productivity button {
    margin-inline: clamp(1.25rem, 2.5vw, 2rem);
    margin-block: clamp(1.25rem, 2.5vw, 2rem);
    color: var(--accent-color);
    background-color: var(--main-color);
    font-weight: 500;
    font-size: var(--fs-base);

}

.productivity button:hover {
    background: #820a42;
    transition: background 50ms ease-in;
}


/* cards section here  */

.productivity-cards {
    border: 0.5px solid rgba(110, 110, 110, 0.19);
    border-radius: 10px;
    padding-inline: clamp(1.25rem, 2.5vw, 2rem);
    padding-block: clamp(1.25rem, 2.5vw, 2rem);
}

.productivity-cards:hover {
    background-color: #ffe7eb;
    ;
}

.productivity-cards>* {
    margin-block: clamp(1.5rem, 2.5vw, 2rem);
}

.productivity-cards p {
    max-width: max-content;
    /* width: auto; */
    inline-size: auto;
    font-size: var(--fs-sm);
    margin-inline-end: clamp(1.25rem, 2.5vw, 1.75rem);
    line-height: 1.5;

}

.learn-more {
    font-size: var(--fs-xs);
    font-weight: 500;

}

.learn-more a {
    text-decoration: none;
    color: inherit;
}

.learn-more:hover {
    color: #820a42;
    transition: background 50ms ease-in;
    scale: 1.01;
    transition: scale 50ms ease-in;
}

/* carousel code starts here  */
.productivity-cards-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(18rem, 1fr);
    gap: 1rem;
    padding-inline: clamp(1.5rem, 4vw, 3rem);
    overflow-x: auto;
}

.productivity-cards-container::-webkit-scrollbar {
    display: none;
}

/* carousel code ends above  */

@media (min-width: 769px) {
    .productivity {
        margin-inline: clamp(1rem, 2vw, 2rem);
        border-radius: 25px;
    }

    .productivity-cards-container {
        display: grid;
        grid-auto-flow: unset;
        grid-template-columns: repeat(auto-fit, minmax(17.9rem, 1fr));
        grid-template-rows: 1fr;
        gap: clamp(1rem, 2vw, 2rem);
        padding-inline: clamp(1.5rem, 4vw, 3rem);
        overflow-x: visible;
        scroll-snap-type: none;
        touch-action: auto;

    }

    .productivity-cards {
        scroll-snap-align: none;
    }

    .productivity>h1,
    p {
        max-width: 60%;
    }
}


/* section 4 carousel starts here  */
.usecases-section {
    padding-block: clamp(2rem, 6vw, 5rem);
    padding-inline: 0;

}

.usecases-section h2 {
    font-size: var(--fs-xl);
    font-weight: 700;
    margin-bottom: 1.25rem;
    padding-inline: clamp(2rem, 6vw, 5rem);
}


.btnWrapper {
    display: flex;
    padding-inline: clamp(2rem, 6vw, 5rem);
    gap: 0.75rem;
    justify-content: flex-end;
}



.rail-track {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: clamp(15rem, 75vw, 20rem);
    gap: 1rem;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overscroll-behavior-x: contain;
    padding: clamp(1.5rem, 6vw, 3.5rem);
    pointer-events: auto;
}

.rail-track::-webkit-scrollbar {
    display: none;
}

.rail-card {
    border: 1px #69696943 solid;
    border-radius: var(--card-radius);
    padding: clamp(1.5rem, 2vw, 2rem);
    min-height: clamp(15rem, 24vw, 16rem);
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr clamp(2.5rem, 4vw, 5rem) 1fr 0.5fr;
}

.rail-card:hover {
    background: #eeebeb43;
    transition: background 0.1s ease-in-out;
}

.rail-card img {
    max-width: 38%;
    height: auto;
    padding-block-end: clamp(1rem, 1vw, 2rem);
}


.rail-card h3 {
    font-size: var(--fs-base);
}

.rail-card p {
    opacity: 0.8;
    font-size: var(--fs-xm);
    line-height: 1.5;
    max-width: max-content;
}

.rail-card a {
    display: block;
    width: max-content;
    text-decoration: none;
    color: var(--primary-font-color);
    font-weight: 500;
    font-size: var(--fs-base)
}

.rail-card a:hover {
    opacity: 0.7;
    transition: opacity 150ms ease-in-out;
}

.rail-btn {
    all: unset;
    border: none;
    cursor: pointer;
    z-index: 5;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    user-select: none;
}

.rail-btn:hover {
    opacity: 0.6;
    transition: opacity .2s ease-in-out;
}

.rail-btn:disabled {

    .fa-circle-arrow-left,
    .fa-circle-arrow-right {
        color: #aca2a7;
    }

    ;

    opacity: 0.4;
    cursor: not-allowed;
}

.rail-track.is-dragging {
    scroll-snap-type: none;
}

@media (min-width: 769px) {
    .usecases-section h2 {
        max-width: 70%;
    }
}






/* footer here  */

/* footer header section  */

.footer-container {
    background-color: var(--main-color);
}

.footer-header {
    font-size: var(--fs-lg);
    color: var(--accent-color);
    padding: clamp(1.75rem, 5vw, 2.5rem);
    font-weight: 800;

}

.footer-header button {
    background-color: var(--accent-color);
    color: var(--main-color);
    margin-block: clamp(1rem, 4vw, 1.5rem);
    font-size: var(--fs-sm);
}

.footer-header button:hover {
    opacity: 0.75;
    transition: opacity 50ms ease-in;

}


hr {
    width: 80%;
    margin: auto;
    color: var(--accent-color);
    opacity: .3;
}

@media (min-width: 481px) {
    .footer-header {
        max-width: 70%;
    }
}

@media (min-width: 900px) {
    .footer-header {
        max-width: 50%;
    }
}


/* footer links section  */
.footer-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    line-height: 1.5;
}

.footer-links-wrappers {
    padding: clamp(0.5rem, 4vw, 1rem);
    list-style: none;
    flex-basis: 40%;
    margin: clamp(1rem, 3vw, 1.5rem);
    min-width: auto;

}

@media (min-width: 670px) {
    .footer-links {
        justify-content: center;
    }

    .footer-links-wrappers {
        flex-basis: 20%;
    }
}

.foot-links-title {
    display: block;
    color: var(--white-color);
    font-size: var(--fs-sm);
    pointer-events: none;
    text-decoration: none;
    margin-bottom: clamp(.75rem, 3vh, 1rem);
    font-weight: 500;


}

.foot-links {
    display: block;
    text-decoration: none;
    font-size: var(--fs-xs);
    padding-block: clamp(.25rem, 3vw, .6rem);
    color: var(--accent-color);
    opacity: .75;
}

.foot-links:hover {
    opacity: 1;
    transition: opacity 50ms ease-in;
}